body{
    user-select: none;
}
.container{
    background-image: url(../../assets/ui/wizard_color.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #b8b8b8;
    border-radius: 10px;
    width: max-content;
    padding: 10px 10px 50px;
    font-family: cursive, Roboto, sans-serif !important;
    box-shadow:  10px 10px 20px 3px #4c85e180,
                -10px -10px 20px 10px #4c85e180;
}

#mainPopup h1{
    color: #17408b;
    text-shadow: -1px -1px 0 #bbb, 1px -1px 0 #bbb,
                -1px 1px 0 #bbb , 1px 1px 0 #bbb
}
#fallbackPopup h1{
    color: #c9082a;
    text-shadow: -1px -1px 0 #555, 1px -1px 0 #555,
                -1px 1px 0 #555 , 1px 1px 0 #555
}
#mainPopup #power ~ div{
    width: 200px;
}
#fallbackPopup, #mainPopup{
    display: none;
}
#fallbackPopup div{
    font-size: 16px;
}

h1, h2 {
    margin: 5px 0;
    text-align: center;
}

#power {
    background-image: url(../../assets/ui/power_off.svg);
    width: 30px;
    height: 30px;
    margin: 10px auto;
    cursor: pointer;
    filter: drop-shadow(0px 0px 1px black);
}
#power.on{
    background-image: url(../../assets/ui/power_on.svg);
}
#power.disabled{
    background-image: url(../../assets/ui/power_disabled.svg) !important;
    cursor: default !important;
}

.global-settings .toggles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
.global-settings .toggles span{
    font-size: 16px;
    margin: 10px 0;
    cursor: help;
}

input#blink, input#teamcolor{
    background-image: url(../../assets/ui/toggle_off.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 20px;
    display: inline-block;
    align-self: center;
}
