body{
    user-select: none;
}
*:focus{
    outline: 0;
}
.container{
    background-image: url(../../assets/ui/wizard_color.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #b8b8b8;
    border-radius: 10px;
    width: max-content;
    padding: 10px 5px 40px;
    font-family: cursive, Roboto, sans-serif !important;
    box-shadow:  10px 10px 20px 3px #4c85e180,
                -10px -10px 20px 10px #4c85e180;
}
hr{
    margin: 20px 0;
}
#mainPopup h1{
    color: #17408b;
    text-shadow: -1px -1px 0 #bbb, 1px -1px 0 #bbb,
                -1px 1px 0 #bbb , 1px 1px 0 #bbb
}
#fallbackPopup h1{
    color: #c9082a;
    text-shadow: -1px -1px 0 #555, 1px -1px 0 #555,
                -1px 1px 0 #555 , 1px 1px 0 #555
}
#mainPopup {
    width: 240px;
}
#fallbackPopup, #mainPopup{
    display: none;
}
#fallbackPopup div{
    font-size: 16px;
}

h1, h2 {
    margin: -5px 0 10px;
    text-align: center;
}

#power {
    background-image: url(../../assets/ui/power_off.svg);
    width: 30px;
    height: 30px;
    margin: 10px auto;
    cursor: pointer;
    filter: drop-shadow(0px 0px 1px black);
}
#power:hover{
    transform: scale(1.2);
}
#power.on{
    background-image: url(../../assets/ui/power_on.svg);
}
#power.disabled{
    background-image: url(../../assets/ui/power_disabled.svg) !important;
    cursor: default !important;
}

.global-settings .toggles{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.global-settings .toggles div{
    font-size: 16px;
    margin: 10px 0;
    cursor: help;
    justify-self: start;
}

input#blink, input#teamcolor, input#volume{
    background-image: url(../../assets/ui/toggle_off.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 20px;
    display: inline-block;
    align-self: center;
    justify-self: start;
    margin-left: 15px;
}
input#volume{
    width: 50%;
}
.tooltip {
    display: inline-block;
    cursor: help;
}
.tooltip::after{
    display: none;
    background-color: #888;
    color: #17408b;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #5f87e6;
    padding: 5px;
    font-family: cursive;
    z-index:1;
    position: absolute;
    width: 80%;
}
.tooltip:hover::after{
    display: block;
}
.blink::after{
    content: 'Flash screen whenever the stats table refreshes';
}
.teamcolor::after{
    content: 'Color headers by team colors';
}
.volume::after{
    content: 'Adjust player to watch notification\'s volume';
}
