body{
    --nba-red:#c9082a;
    --nba-blue:#17408B;

    /*light*/
    --highlight-color:#eee;
    --font-color:#000;
	--icon-color:#fff;
	
	/*dark
    --highlight-color:#303030 !important;
    --font-color:#a0a0a0;
	--icon-color:#444;
	*/
}

td,
table td a span {
    font-family: sans-serif;
}

body table tbody tr td.highlight{
    background-color: var(--highlight-color);
}

a.text-cerulean {
    color: var(--font-color);
	text-decoration: underline;
}

.fixed>:nth-child(3){
	display:none;
}

table th, table td {
    text-align: center !important;
}

table td:first-child,
table th:first-child {
	width: 130px !important;
}

table thead {
	overflow: hidden;
    height: 40px;
}

table thead tr{
	height: 40px;
}

section .relative > .block > div{
	max-height: 1000px;
}

td a span {
    font-size: 11px;
    font-weight: bold;
}
/* 
.dark{
    position: fixed;
    left: 10px;
    top: 15px;
    cursor: pointer;
}

.dark ~ a{
    margin-left: 10px;
    margin-right: 0;
}

.dark i.dark-mode{
    color: var(--icon-color);
}
 */
#home-headers-wrapper,
#away-headers-wrapper{
    position: sticky;
    top: 55px;
    z-index: 20;
}

.noteworthy{
    font-weight: bold;
     font-size: 15px;
}

.best-in-category{
    font-weight: bold;
    color: green !important;
}

tbody tr td.best-in-team{
    color: green !important;
    background: #00ff0026 !important;
    font-size: 17px;
}

.worst{ 
    font-weight: bold;
    color: red !important;
}

.perfect{ 
    color: gold !important;
    font-weight: bold;
}

.big{
    font-size: 17px !important;
}