body{
    --nba-red:#c9082a;
    --nba-blue:#17408B;
	--ptw-grab: default;

    /*light*/
    --highlight-color:#eee;
    --font-color:#000;
	--icon-color:#fff;
	
	/*dark
    --highlight-color:#303030 !important;
    --font-color:#a0a0a0;
	--icon-color:#444;
	*/
}

td,
table td a span {
    font-family: Roboto;
    font-size: 1em;
    font-weight: normal;
}

table tbody tr td:nth-child(1),
table tbody tr td:nth-child(1) a{
    cursor: var(--ptw-grab);
}

body table tbody tr td.highlight,.highlight{
    background-color: var(--highlight-color) !important;
}

a.text-cerulean {
    color: var(--font-color);
	text-decoration: underline;
}

.fixed > div:nth-of-type(3) {
	display:none;
}

table th, table td {
    text-align: center !important;
}

table td.pct:not(.big){
    font-size: 12px !important;
}

table td.pct:after{
    content: "%";
    font-size: 10px;
    position: relative;
    left: 1px;
}

table td:first-child,
table th:first-child {
	width: 130px !important;
}

table thead {
	overflow: hidden;
    height: 40px;
}

table thead tr{
	height: 40px;
}

section .relative > .block > div{
	max-height: 1000px;
}

td a span {
    font-size: 11px;
    font-weight: bold;
}

.dark{
    position: fixed;
    left: 10px;
    top: 15px;
    cursor: pointer;
}

.dark ~ a{
    margin-left: 10px;
    margin-right: 0;
}

.dark i.dark-mode{
    color: var(--icon-color);
}

#home-headers-wrapper,
#away-headers-wrapper{
    position: sticky;
    top: 55px;
    z-index: 20;
}

td.best-in-category{
    font-weight: bold;
    color: rgb(0, 200, 0) !important;
}

.noteworthy{
    font-weight: bold;
     font-size: 15px;
}
td.team-great{ 
    background: rgba(0, 255, 0, 0.15) !important;
    border-radius: 20px;
}
tbody tr td.great{ 
    font-weight: 'bold';
    color: rgb(0, 200, 0) !important;
    background: #00ff0026 !important;
    font-size: 17px;
}

.default-color{
    color: var(--font-color) !important;
}

td.worst{ 
    font-weight: bold;
    color: red !important;
}
td.ice-cold{
    color: #5d7eff !important;
}

table td.perfect{ 
    color: gold !important;
    font-weight: bold;
}

td.big{
    font-size: 17px !important;
}

.msg{
    display: none;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    margin: auto;
    z-index: 9999;
    background: var(--highlight-color);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.zoomed{
    transform: scale(1.05);
}
.col-zoomed{
    transform: scale(1.15);
}

#ptw{
    position: fixed;
    top: 55px;
    z-index: 1;
    background-color: #0a1c29;
    color: #f00;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 0 0 12px 0;
    cursor: default;
}
#ptw.on{
    color: #0f0 !important;
}

.ptw span{
    color: #ca31f3 !important;
    font-weight: bold !important;
    font-family: cursive;
}

.ptw figure{
    box-shadow: #ffd700 0px 0px 10px 0px inset,
                #ffd700 0px 0px 20px 5px !important;
}
figure{
    transition: .3s ease-in-out;
}

.ptw span span:first-child:before {
    content: close-quote;
    width: 100%;
    height: 100%;
    background: #00ffff35;
    border: 3px dotted #0ff5;
    position: absolute;
    left: 0;
    top: 0;
}
td a span span:first-child:before, 
span span:first-child {
    transition: background-color 1s ease-in-out,
                1s ease-in-out;
}
.ptw span span:first-child {
    text-shadow: -1px -1px 0 #2a2a2a,
                  1px -1px 0 #2a2a2a,
                  -1px 1px 0 #2a2a2a,
                  1px 1px 0 #2a2a2a;
}

.blink{
    -webkit-animation-name: flash;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes flash {
    0%, 100% {
        opacity: 1;
        background-color: initial;
    }
    
    50% {
        opacity: 0;
        background-color: #ffffff50;
    }
}